.box{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
width: 300px;
height: 500px;
border-radius: 20px;
padding: 50px 20px 0px 20px;
}

.box >img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 99px;
    margin: 0 auto;
}
.a{
    text-align: center;
    margin-top: 30px;
}
.a>strong{
    display: block;
    font-size: 20px;
    margin-bottom: -5px;
    color: blue;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.btn>button{
    border-radius: 90px;
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    font-weight: 900;
}

.icon{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    gap: 10px;
    color: white;
}