.abc {
  background-color: #fb923c;
  color: white;
  border-radius: 4px;
  border: 1px solid #fb923c;
  padding: 10px 12px 10px 12px;
}
.def {
  background-color: #f97316;
  color: white;
  border-radius: 4px;
  border: 1px solid #f97316;
  padding: 12px 35px 12px 35px;
}
.ghi {
  background-color: white;
  color: #f97316;
  border-radius: 4px;
  border: 2px solid #f97316;
  padding: 12px 35px 12px 35px;
  font-weight: 600;
}

/* ctrl+space : 스타일종류 */
