@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GmarketSansMedium";
  width: 100vw;
  max-width: 768px;
  margin: 0 auto;
}

main {
  width: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
