.container {
  width: 100vw;
  height: 100px;
  background-color: pink;
}
.box {
  /* width: 900px */
  width: 100%;
  max-width: 900px;
  height: 100%;
  background-color: green;
  margin: 0 auto;
}
