.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
}

.link {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 5px 5px 5px 10px;
}

.link > i {
  margin-right: 5px;
}
